### Course 5 - Final Assignment

# Note:
### I recreated the assignment in a blank notebook. 
### It was easier for me to work with more conscise code blocks and to hand program all elements to gain a bettter undertanding. 
### Hopefully this is acceptable for submission.

In [3]:
# Dependancies
#!pip install yfinance
#!pip install bs4
#!pip install nbformat
#!pip install --upgrade plotly

In [45]:
# Imports
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.default = "iframe"

In [44]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [59]:
# Plotly Graph Function
def make_graph(stock_data, revenue_data, stock):
    import pandas as pd
    import plotly.graph_objects as go
    from plotly.subplots import make_subplots

    fig = make_subplots(
        rows=2, cols=1,
        #shared_xaxes=False,
        subplot_titles=("Historical Share Price", "Historical Revenue"),
        vertical_spacing=0.15
    )

    # Plot Share Price
    fig.add_trace(
        go.Scatter(
            x=stock_data['Date'],
            y=stock_data['Close'],
            mode='lines',
            name="Share Price"
        ),
        row=1, col=1
    )

    # Plot Revenue
    fig.add_trace(
        go.Scatter(
            x=revenue_data['Date'],
            y=revenue_data['Revenue'],
            mode='lines+markers',
            name="Revenue"
        ),
        row=2, col=1
    )

    # Formatting
    fig.update_layout(
        title=stock,
        height=800,
        showlegend=False,
        xaxis=dict(rangeslider=dict(visible=False)),
        xaxis2=dict(rangeslider=dict(visible=False)) # Explicitly hide rangeslider for xaxis2 (row=2, col=1)
    )

    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_yaxes(title_text="Price ($)", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Revenue ($ Millions)", row=2, col=1)

    fig.show()

### TSLA Historical Stock Info

In [7]:
# Retrieve TSLA stock info via yf.Ticker then use .history to get historical stock prices
tsla = yf.Ticker("TSLA")
tesla_data = tsla.history(period="max") # Date Open High Low Clsoe Volume Dividends Splits

# Reset the index and display the first 5 using tesla_data.head() method
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

### TSLA Historical Revenue

In [32]:
# Webscrape TSLA Revenue Data
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
data  = requests.get(url).text
tesla_revenue = BeautifulSoup(data, 'html.parser') # Make it Beautiful!

# Convert to Pandas DataFrame
tesla_revenue = pd.read_html(str(tesla_revenue))[1]  # Try index 1, or 0, 2, etc.
tesla_revenue.columns = ["Date", "Revenue"]

# Clean up the data and have a look.  REMEMBER: tesla_revenue is a DataFrame
tesla_revenue['Revenue'] = tesla_revenue['Revenue'].astype(str).str.replace('$', '', regex=False)
tesla_revenue['Revenue'] = tesla_revenue['Revenue'].str.replace(',', '', regex=False)
#print(tesla_revenue)

#ensure datetime 
tesla_revenue['Date'] = pd.to_datetime(tesla_revenue['Date'], errors='coerce')

# ensure numeric
tesla_revenue['Revenue'] = pd.to_numeric(gme_revenue['Revenue'], errors='coerce')



# remove nulls or empty strings from the Revenue column.
tesla_revenue.dropna(inplace=True)
tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

# Take a look at the last 5
print(tesla_revenue.tail())

         Date  Revenue
49 2010-06-30     2866
50 2010-03-31     1611
51 2009-12-31     1338
52 2009-09-30     1279
53 2009-06-30     2304

### GME Historical Stock Info

In [33]:
#gme = yf.Ticker("GME")
#gme_data = gme.history(period="max")
# Reset the index and have a look!
#gme_data.reset_index(inplace=True)
#print(gme_data.head())

# Retrieve TSLA stock info via yf.Ticker then use .history to get historical stock prices
gme = yf.Ticker("GME")
gme_data = gme.history(period="max") # Date Open High Low Clsoe Volume Dividends Splits

# Reset the index and display the first 5 using tesla_data.head() method
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683251,1.687459,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

### GME Historical Revenue

In [34]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"

# Webscrape GME Revenue Data
data  = requests.get(url).text
gme_revenue = BeautifulSoup(data, 'html.parser') # Make it Beautiful!

# Convert to Pandas DataFrame
gme_revenue = pd.read_html(str(gme_revenue))[1]  # Try index 1, or 0, 2, etc.
gme_revenue.columns = ["Date", "Revenue"]

# Clean up the data and have a look.  REMEMBER: gme_revenue is a DataFrame
gme_revenue['Revenue'] = gme_revenue['Revenue'].astype(str).str.replace('$', '', regex=False)
gme_revenue['Revenue'] = gme_revenue['Revenue'].str.replace(',', '', regex=False)
#print(tesla_revenue)

# ensure datetime
gme_revenue['Date'] = pd.to_datetime(tesla_revenue['Date'], errors='coerce')

# ensure numeric
gme_revenue['Revenue'] = pd.to_numeric(gme_revenue['Revenue'], errors='coerce')


# remove nulls or empty strings from the Revenue column.
gme_revenue.dropna(inplace=True)
gme_revenue = gme_revenue[gme_revenue['Revenue'] != ""]

# Take a look at the last 5
print(gme_revenue.tail())

         Date  Revenue
49 2010-06-30     2866
50 2010-03-31     1611
51 2009-12-31     1338
52 2009-09-30     1279
53 2009-06-30     2304

### TESLA CHARTS

In [63]:
make_graph(tesla_data, tesla_revenue,'Tesla')

### GameStop Charts

In [64]:
make_graph(gme_data, gme_revenue,'GameStop')